#btn1
{
    position: absolute;
    left: 75%;
    transform: translate(100%);
    width: 161px;
    height: 95px;
    border-radius: 100%;
    font-size: 20px;
    font-family: 'Inter';
    border: none;
    position: relative; cursor: pointer;
    overflow: hidden;
    z-index: 1;
    background: rgba(125, 216, 255, 0.4);
}