
*{
font-family: "Jura";
color: white;
}
.topnav {
background-color: #001D3E;
overflow: hidden;
border-bottom: white solid;
margin-right: 40px;
margin-left: 40px;
}
.topnav a {
float: right;
color: white;
text-align: center;
padding: 14px 45px;
text-decoration: none;
font-size: 17pt;
}
.topnav a:hover {
background-color:#7dd8ff8f;
color: white;
}
.topnav a.active {
background-color: #7DD8FF;
color: white;
border-radius: 100%;
}
body{
    background-attachment: fixed;
    background-color: #001D3E;
}
p{
    font-size: 24px; 
}
.tabs{
border-radius: 100%;
}
#team{
    float: left;
    font-size: 17px;
    margin-left: 5%;
    color: white;
    text-align: center;
    font-size: 17pt;
}
#ROBOTICS{
position: absolute;
font-size: 100pt;
margin-left: 150px;
}