#img1
{
    margin-top: 25vw;
    position: absolute;
    width: 30vw;
    height: auto;
    left: 2%;
    transform: translate(28%);
}
#img2
{
    margin-top: 62vw;
    left: 42%;
    transform: translate(50%);
    position: absolute;
    width: 506px;
    height: 406px;
}
#img3
{
    margin-top: 102vw;
    left: 45%;
    transform: translate(50%);
    position: absolute;
    width: 514px;
    height: 362px;
}
#img4
{
    margin-top: 5vw;
    position: absolute;
    width: 620px;
    height: 340px;
    left: 34%;
    transform: translate(50%);
}
#img5
{
    margin-top: 5vw;
    position: absolute;
    width: 412px;
    height: 290px;
    left: 7.9%;
}
#img6
{
    position: absolute;
    margin-top: 4vw;

    width: 431px;
    height: 324px;
    left: 50%;
    transform: translate(50%);
    
}
#img7
{
    position: absolute;
    width: 461px;
    height: 312px;

    left: 8%;
    margin-top: 17vw;
}
#img8
{
    position: absolute;
    width: 461px;
    height: 292px;

    left: 8%;
    margin-top: 40vw;
}
#img9
{
    position: absolute;
    width: 500px;
    height: auto;
    margin-top: 7vw;
    left: 40%;
    transform: translate(50%);
}
#img10
{
    margin-top: 2vw;
    left: 50%;
    position: absolute;
    width: 540px;
    height: 608px;
}