
.text{
    position: absolute;
    font-family: 'Inter';
    font-style: normal;
}

.headings
{
    position: absolute;
    width: 699px;
    height: 180px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 71px;

    
    left: 2%;
    transform: translate(15%);
}



#h7
{
    position: absolute;
    width: 525px;
    height: 202px;
    left: 7.5%;


    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 35px;
}
label
{
    margin-top: 4vw;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#message_label
{
    left: -30%;
}
#h8
{
    position: absolute;
    width: 840px;
    height: 236px;
    margin-top: 13vw;
    left: 10%;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;

}


#h11
{
    position: absolute;
    width: 582px;
    height: 67px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;

    left: 7%;
}
#text20
{
    position: absolute;
    width: 574px;
    height: 346px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 13%;
}
#text21
{
    position: absolute;
    width: 523px;
    height: 394px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 67%;
    transform: translate(-50%, -10%);
}
#text22
{
    position: absolute;
    width: 497px;
    height: 408px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 13%;
}
#text23
{
    position: absolute;
    width: 521px;
    height: 254px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    margin-top: 10vw;
    left: 13%;
}
#text24
{
    position: absolute;
    width: 1106px;
    height: 219px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 13%;
}
#text25
{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 50%;
}
#li1{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 5vw;
}
#li2{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 7vw;
}
#li3{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 9vw;
}
#li4{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 410;
    font-size: 25px;
    line-height: 33px;
    left: 51.5%;
    margin-top: 13vw;
}
#li5{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top:17.2vw;
}
#text26
{
    position: absolute;
    width: 1106px;
    height: 113px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 13%;
}
#text27
{
    position: absolute;
    width: 1106px;
    height: 113px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 13%;
    margin-top: 6vw;
}
#h12
{
    position: absolute;
    width: 264px;
    height: 42px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 10%;
}
#text28
{
    position: absolute;
    width: 636px;
    height: 143px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 4vw;
}
#h13
{
    position: absolute;
    width: 345px;
    height: 50px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 9%;
    margin-top: 16vw;
}
#text29
{
    position: absolute;
    width: 1107px;
    height: 96px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 19vw;
    left: 12.5%;
}
#h14
{
    position: absolute;
    width: 456px;
    height: 56px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 65%;
    transform: translate(-50%, -48%);
}
#text30
{
    position: absolute;
    width: 522px;
    height: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 4vw;
    left: 50%;
}
#h15
{
    position: absolute;
    width: 444px;
    height: 73px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 8%;
}
#h16
{
    position: absolute;
    width: 444px;
    height: 73px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 50%;
}
#text31
{
    position: absolute;
    width: 477px;
    height: 196px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12%;
    margin-top: 4vw;
}
#text32
{
    position: absolute;
    width: 477px;
    height: 196px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 54.5%;
    margin-top: 4vw;
}
#text33
{
    position: absolute;
    width: 1094px;
    height: 195px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12%;
    margin-top: 17vw;
}
#h17
{
    position: absolute;
    width: 557px;
    height: 68px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
    left: 7%;
}
#text34
{
    position: absolute;
    width: 675px;
    height: 293px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
}
#text35
{
    position: absolute;
    width: 590px;
    height: 381px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 65%;
    transform: translate(-50%, -7%);
}
#text36
{
    position: absolute;
    width: 1101px;
    height: 205px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27vw;
    left: 12.5%;
}
#text37
{
    position: absolute;
    width: 1101px;
    height: 205px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 35vw;
    left: 12.5%;
}
.h18
{
    position: absolute;
    width: 400px;
    height: 32px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 410;
    font-size: 27px;
    line-height: 32px;
    left: 9%;
}
#text38
{
    position: absolute;
    width: 642px;
    height: 296px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 3.5vw;

}
#text39
{
    position: absolute;
    width: 642px;
    height: 296px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 21vw;
}
#text40
{
    position: absolute;
    width: 620px;
    height: 439px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 5vw;
    left: 12.5%;
}
#text41
{
    position: absolute;
    width: 1088px;
    height: 119px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 27.5vw;
    left: 12.5%;
}
#h19
{
    left: 45%;
}
#text42
{
    position: absolute;
    width: 594px;
    height: 402px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 49%;
    margin-top: 5vw;
}
#text43
{
    position: absolute;
    width: 1122px;
    height: 78px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 27vw;
}
#text44
{
    position: absolute;
    width: 647px;
    height: 387px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 5vw;
    left: 12.5%;
}
#text45
{
    position: absolute;
    width: 1122px;
    height: 122px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 27vw;
}
#text46
{
    position: absolute;
    width: 647px;
    height: 654px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 5vw;
}