#div4
{
    margin-top: 5vw;
    margin-bottom: 35vw;
}
#img4
{
    margin-top: 5vw;
    position: absolute;
    width: 620px;
    height: 340px;
    left: 34%;
    transform: translate(50%);
}
#robotic_fields
{
    margin-top: 14vw;
    width: 366px;
    height: 111px;
    left: 5%;
    transform: translate(15%);
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}
#div5
{
    padding-top: 5vw;
}
#h4 
{
    position: absolute;
    width: 451px;
    height: 59px;
    left: 3.9%;
    
    
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
#mechatronics_engineering
{
    width: 700px;
    height: 399px;
    margin-top: 3.5vw;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    left: 20%;
    transform: translate(50%);
}
#img5
{
    margin-top: 5vw;
    position: absolute;
    width: 412px;
    height: 290px;
    left: 7.9%;
}
#div6
{
    padding-top: 3vw;
}
#h9
{
    position: absolute;
    width: 359px;
    height: 61px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;

    left: 5%;
}
#biomedical_engineering
{
    margin-top: 7vw;
    width: 668px;
    height: 507px;
    left: 5%;
    transform: translate(8%);
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
#img6
{
    position: absolute;
    margin-top: 8vw;

    width: 431px;
    height: 324px;
    left: 50%;
    transform: translate(50%);
    
}
#h5{
    margin-top: 13vw;
    position: absolute;
    width: 451px;
    height: 59px;
    left: 3.9%;
    
    
    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
#img7
{
    position: absolute;
    width: 461px;
    height: 312px;

    left: 8%;
    margin-top: 19vw;
}
#computer_engineering
{
    width: 696px;
    height: 534px;
    left: 20%;
    transform: translate(50%);
    margin-top: 17vw;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
#divv8
{
    padding-top: 5vw;
    margin-top: 2vw;
}
#h6
{
    position: absolute;
    width: 468px;
    height: 63px;
    left: 3.9%;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
}
#software_engineering
{
    width: 659px;
    height: 396px;
    margin-top: 5vw;
    left: 8.5%;
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
}
#img8
{
    position: absolute;
    width: 461px;
    height: 292px;

    left: 8%;
    margin-top: 40vw;
}
#img9
{
    position: absolute;
    width: 500px;
    height: auto;
    margin-top: 7vw;
    left: 40%;
    transform: translate(50%);
}
#btn1
{
    margin-top: 29vw;
    position: absolute;
    left: 64%;
    transform: translate(100%);
    width: 161px;
    height: 95px;
    border-radius: 100%;
    font-size: 20px;
    font-family: 'Jura';
    border: none;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    background: rgba(125, 216, 255, 0.4);
}
#btn2
{
    margin-top: 27vw;
    position: absolute;
    left: 7%;
    width: 161px;
    height: 95px;
    border-radius: 100%;
    font-size: 20px;
    font-family: 'Jura';
    border: none;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    background: rgba(125, 216, 255, 0.4);
}
#btn3
{
    margin-top: 47vw;
    position: absolute;
    left: 63%;
    transform: translate(100%);
    width: 161px;
    height: 95px;
    border-radius: 100%;
    font-size: 20px;
    font-family: 'Jura';
    border: none;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    background: rgba(125, 216, 255, 0.4);
}
#btn4
{
    margin-top: 32vw;
    position: absolute;
    left: 25%;
    transform: translate(100%);
    width: 161px;
    height: 95px;
    border-radius: 100%;
    font-size: 20px;
    font-family: 'Jura';
    border: none;
    position: relative; 
    cursor: pointer;
    overflow: hidden;
    background: rgba(125, 216, 255, 0.4);
}