#text23
{
    position: absolute;
    width: 521px;
    height: 254px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    margin-top: 10vw;
    left: 13%;
}
#img19
{
    position: absolute;
    width: 539px;
    height: 340px;
    left: 50%;
    margin-top: 3.6vw;
}
#div18
{
    margin-top: 28vw;
}
#text24
{
    position: absolute;
    width: 1106px;
    height: 219px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 13%;
}
#div19
{
    margin-top: 47vw;
}
#img20
{
    position: absolute;
    width: 529px;
    height: 321px;
    left: 13%;
}
#text25
{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 50%;
}
#li1{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 5vw;
}
#li2{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 7vw;
}
#li3{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top: 9vw;
}
#li4{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 410;
    font-size: 25px;
    line-height: 33px;
    left: 51.5%;
    margin-top: 13vw;
}
#li5{
    position: absolute;
    width: 537px;
    height: 337px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 51.5%;
    margin-top:17.2vw;
}
#div20
{
    margin-top: 73vw;
}
#text26
{
    position: absolute;
    width: 1106px;
    height: 113px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 13%;
}
#text27
{
    position: absolute;
    width: 1106px;
    height: 113px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;

    left: 13%;
    margin-top: 6vw;
}
#div21
{
    margin-top: 86vw;
}
#h12
{
    position: absolute;
    width: 264px;
    height: 42px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 10%;
}
#text28
{
    position: absolute;
    width: 636px;
    height: 143px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12.5%;
    margin-top: 4vw;
}
#img21
{
    position: absolute;
    width: 402px;
    height: 285px;
    left: 60%;
}
#h13
{
    position: absolute;
    width: 345px;
    height: 50px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 9%;
    margin-top: 16vw;
}
#text29
{
    position: absolute;
    width: 1107px;
    height: 96px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 19vw;
    left: 12.5%;
}
#div22
{
    margin-top: 115vw;
}
#img22
{
    position: absolute;
    width: 461px;
    height: 280px;
    left: 12.5%;     
}
#h14
{
    position: absolute;
    width: 456px;
    height: 56px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 65%;
    transform: translate(-50%, -48%);
}
#text30
{
    position: absolute;
    width: 522px;
    height: 190px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    margin-top: 4vw;
    left: 50%;
}
#h15
{
    position: absolute;
    width: 444px;
    height: 73px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 8%;
}
#h16
{
    position: absolute;
    width: 444px;
    height: 73px;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 27px;
    line-height: 32px;
    left: 50%;
}
#text31
{
    position: absolute;
    width: 477px;
    height: 196px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12%;
    margin-top: 4vw;
}
#text32
{
    position: absolute;
    width: 477px;
    height: 196px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 54.5%;
    margin-top: 4vw;
}
#text33
{
    position: absolute;
    width: 1094px;
    height: 195px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    left: 12%;
    margin-top: 17vw;
}
