#div7
{
    margin-top: 8vw;
}
#div8
{
    position: absolute;
    left: 13%;
}
#div9
{
    margin-top: 5vw;
    position: absolute;
    left: 13%;
}
#div10
{
    margin-top: 10vw;
    position: absolute;
    left: 13%;
}
#div11
{
    position: absolute;
    left: 40%;
}
input
{
    margin-bottom: 2vw;
    position: relative;
    width: 310px;
    height: 37px;
    border: none;
    background: rgba(217, 217, 217, 0.3);
    border-radius: 10px;
}
#btn5
{
    position: absolute;
    width: 200px;
    height: 100px;

    background: rgba(125, 216, 255, 0.5);
    margin-top: 24vw;
    left: 45%;

    font-size: 40px;
    font-family: 'Jura';
    border: none;
    border-radius: 10px;
}
#h8
{
    position: absolute;
    width: 840px;
    height: 236px;
    margin-top: 13vw;
    left: 10%;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 59px;
}
#message_input
{
    
    width: 800px;
    height: 190px;
    border: none;
    background: rgba(217, 217, 217, 0.3);

    border-radius: 10px;
}
label
{
    margin-top: 4vw;
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
}

#message_label
{
    left: -30%;
}
#img10
{
    margin-top: 3vw;
    left: 50%;
    position: absolute;
    width: 540px;
    height: 608px;
}
#btn6
{
    position: absolute;
    width: 173px;
    height: 74px;
    margin-top: 28vw;
    left: 10%;

    font-family: 'Jura';
    font-style: normal;
    font-weight: 400;
    font-size: 23px;
    line-height: 27px;
    display: flex;
    align-items: center;
    text-align: center;
    border: none;
    color: #FFFFFF;
    background: rgba(125, 216, 255, 0.5);
    border-radius: 10px;
}
